@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';
.tableWrapper {
  border: 1px solid $mercury;
  border-radius: 7px;
}

.table {
  margin-bottom: 0;
  table {
    tbody {
      display: block;
      max-height: 400px;
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: rgba(217, 217, 217, 0.8) $white;
      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-ms-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-track {
        background: $white;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $scrollbar-bg;
        opacity: 0.8;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-bg;
        opacity: 0.8;
        border-radius: 10px;
      }
    }
    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
    thead {
      tr {
        th {
          border-bottom: none;
          border-top: none;
          @include font_style(12px, $label_gray, $medium, 14px);
          text-align: center;
          text-transform: capitalize;
          height: 43px;
          &:first-child {
            text-align: left;
            padding-left: 64px;
          }
          &:nth-child(2) {
            padding-left: 0;
          }
        }
        td{
          @include font_style(12px, $label_gray, normal, 14px);
        }
      }
    }
  }
}
.table-summary {
  font-family: Roboto;
  font-style: normal;
  @include font_style(12px, $boulder, normal, 14px);
}
.invitationBtn {
  @include font_style(14px, $white, null, 16.8px);
  background-color: $lochmara;
  height: 40px;
  margin-top: 15px;
}

/*Create role  Modal Css */

.customClose {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
  &:focus {
    border: none;
    outline: none;
  }
  svg {
    width: 30px;
    height: 30px;
    width: 30px;
    height: 30px;
    background-color: #f8f9fa;
    border-radius: 999px;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
}

.roleModal {
  width: 452px !important;
}
.modalBody {
  padding-bottom: 0px !important;
}
.modalFooter {
  border: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 25px !important;
  margin-top: 0px !important;
  justify-content: center !important;
  button{
    width: 105px !important;
  }
}
.paddingTop {
  padding-top: 15px;
  padding-bottom: 15px;
}
.modalHeader {
  height: 46px !important;
  background: $white-smoke1;
  border-bottom: 0px !important;
  h5 {
    font-size: 14px;
    font-family: $notosanMedium;
    color: $article_link_menu !important;
    line-height: 16.8px;
  }
  .modal-title {
    font-size: 14px;
    font-family: $notosanMedium;
  }
}
.roleInput {
  label {
    width: 100px !important;
    padding-top:9px;
    @include font_style(12px, $label_gray, normal, 14px);
  }
  input,
  .input-div {
    width: 302px !important;
  }
  margin-bottom: 15px;
}

.commonButton {
  width: 105px !important;
  height: 33px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: $notosans;
  line-height: 16.8px;
  outline: none !important;
  &:focus {
    outline: none;
    border: 0;
  }
}
.dangerBtn {
  background: $dangerBgColor !important;
  color: $white;
  &:focus {
    border: 0px;
    outline: none;
  }
}
