@import '../../../../scss/variables';

.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 23px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 40%;
}

input:checked + .slider {
  background-color: $medium-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

.publish-status {
  input:checked + .slider:after {
    content: '公開';
    position: absolute;
    left: 7px;
    top: 5px;
  }
  .slider:after {
    content: '非公開';
    color: #fff;
    display: block;
    position: absolute;
    left: 34px;
    top: 5px;
    font-size: 10px;
    font-family: "NotoSansCJKjp-Regular";
    line-height: 13.2px;
    width: 70px;
  }
}
.configuration {
  input:checked + .slider:after {
    content: 'ON';

  }
  .slider:after {
    left: 42px;
    content: 'OFF';
  }
}
