@import '../../scss/variables';

.button-width{
    width: 20% !important;
}

.nc-data-table {
    header {
        display: none;
    }
    .rdt_Table {
        color: $label_gray;
        .rdt_TableHead {
            .rdt_TableHeadRow {
                border: 1px solid $mercury;
                border-bottom: 2px solid $mercury;
                min-height: 44px;
                border-radius: 4px 4px 0 0;
            }
        }
        input[type=checkbox] {
            height: 18px;
            width: 18px;
            -webkit-appearance:none;
            border: 1px solid $iron;
            border-radius: 3px;
            position: relative;
            // -moz-appearance:none;
            // -o-appearance:none;
            // outline: 1px solid $iron !important;
            // border-radius: 3px;
        }
        input[type=checkbox]:focus {
            border-color: $iron !important;
        }
        input[type=checkbox]:checked {
            background-color: $medium-blue;
            border-color: $medium-blue;
            width: 19px;
            height: 19px;
            &::after {
                content: url('../../assets/svg/check-active.svg');
                font-size: 0;
                position: absolute;
                top: 5px;
                left: 3.5px;
            }
            &:focus {
                border-color: $medium-blue !important;
            }
        }
        .rdt_TableBody {
            border-left: 1px solid $mercury;
            border-right: 1px solid $mercury;
            border-bottom: 1px solid $mercury;
            // border-bottom: 0;
            border-radius: 0 0 4px 4px;
            max-height: 600px;
            overflow: auto;
            scrollbar-width: thin;
            scrollbar-color: rgba(217, 217, 217, 0.8) $white;
            .rdt_TableRow {
                &:last-child {
                    border-bottom: 0;
                }
                .rdt_TableCell {
                    color: $label_gray;
                    font-size: 12px;
                }
            }
            .rdt_TableCol{
                color:$label_gray;
            }
            &::-webkit-scrollbar {
              width: 7px;
            }
            &::-ms-scrollbar {
              width: 7px;
            }
            &::-webkit-scrollbar-track {
              background: $white;
            }
      
            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: $scrollbar-bg;
              opacity: 0.8;
              border-radius: 10px;
            }
      
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
              background: $scrollbar-bg;
              opacity: 0.8;
              border-radius: 10px;
            }
        }
    }
    .rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell {
        cursor: pointer;
    }
    .rdt_Pagination {
        font-size: 12px;
        border: none;
        padding-right: 0px;
    }
    .jHsXUi:hover {
        color: $label_gray;
    }
    .hQBGSu:nth-of-type(odd) {
        color: $label_gray;
        background-color: #F8f8f8;
    }
    .gVljTM{
        svg{
            top: 2px;
        }
        .gCcqTE{
            width:40px;
            border: 2px solid $white;
            outline: none;
            &:focus{
            outline: none;
            border: 2px solid $label_gray;
            border-radius: 4px;
            }
        }
    }

}