@import 'src/scss/variables';
@import 'src/scss/mixins';

.profilePasswordStrength {
  .progress {
    margin-left: 200px;
    width: 42.5vw;
    margin-top: -10px;
    height: 4px;
    margin-bottom: 10px;
    .progress-bar-strong {
      background: $lima;
    }
    .progress-bar-medium {
      background: $turbo;
    }
    .progress-bar-weak {
      background: $red;
    }
  }
}