@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';
.statistics-top-title-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .title-text {
        @include font_style(18px, $mine-shaft, $medium, 22px);
        margin-bottom: 0;
        margin-right: auto;
    }
    .date-title {
        @include font_style(12px, $mine-shaft, $medium, 15px);
        margin-right: 10px;
    }
    svg {
        margin: 0 10px;
        fill: #2b2b2b;
    }
    .statistics-start-date, .statistics-end-date {
        height: 33px;
        width: 140px;
        border-radius: 2px;
        border: 1px solid $iron;
    }
    .statistics-end-date {
        margin-right: 8px;
    }
    .submit-date {
        width: 66px;
        padding: 0;
        margin: 0;
    }
}