
@import '../../scss/variables';

.system-settings-container {
    display: flex;
    position: relative;
    .left-sidenav {
        background: $active_menu;
        width: 100px;
        height: calc(100vh - 60px);
        position: fixed;
        left: 100px;
        top: 60px;
        bottom: 0;
        .active-sub-menu {
            background: $dove_gray;
        }
    }
    .right-content {
        width: 100%;
        margin-left: 100px;
        position: relative;
        height: calc(100vh - 60px);
        overflow: hidden !important;
    }
}