$theme-colors: (
  'primary': #0074d9,
  'danger': #ff4136
);

$white: #fff !default;
$lochmara: #20a8d8 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d50a0a !default;
$orange: #f8cb00 !default;
$yellow: #ffc107 !default;
$green: #4dbd74 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$light-blue: #63c2de !default;
$medium-blue: #008ecd !default;
$button_hover: #007CBB;
$button_pressed: #0072AC;
$button_disabled: #B2DCF0;
$background-gray: #f5f5f5 !default;
$label_gray: #777777 !default;
$gray-base: #181b1e !default;
$gray-100: #f0f3f5 !default; // lighten($gray-base, 85%);
$gray-200: #e4e7ea !default; // lighten($gray-base, 80%);
$gray-300: #c8ced3 !default; // lighten($gray-base, 70%);
$gray-400: #acb4bc !default; // lighten($gray-base, 60%);
$gray-500: #8f9ba6 !default; // lighten($gray-base, 50%);
$gray-600: #73818f !default; // lighten($gray-base, 40%);
$gray-700: #5c6873 !default; // lighten($gray-base, 30%);
$gray-800: #2f353a !default; // lighten($gray-base, 10%);
$gray-900: #23282c !default; // lighten($gray-base, 5%);
$primary: $lochmara !default;

$border-color: $gray-300 !default;

//=======================
//  NEWS CLOUD
//=======================


$success: #208E20;
$info: #3A6578;
$warning: #795336;
$error: #6C3C3D;

$success-bg: #aff8af;
$info-bg: #bde7f7;
$warning-bg: #fad9b9;
$error-bg: #ffc5c5;


$shark: #2f2a26;
$mercury: #e6e6e6;
$masala: #3c3c3c;
$dune: #191919;
$lochmara: #008ecd;
$athens-gray: #f4f7fa;
$white-italic: #f4f6fa;
$gull-gray: #9cabb8;
$alto: #dee0e5;
$torch-red: #f3343a;
$shea-shell: #f1f1f1;
$gun-smoke: #8a8a8a;
$heather: #bbc6cf;
$boulder: #767676;
$cloud: #cbcbcb;

$abbey: #4a4c51;
$abbey-gray: #aaaaaa;
$persian-green: #00abab;
$mountain-meadow: #1eb48e;
$persimmon: #ff724c;
$wild-watermelon: #ff5768;
$supernova: #fec503;
$picton-blue: #41d5e1;
$royal-blue: #1d89cf;
$azure: #f2f4f4;
$notification_hover_background : #f2f2f2;
$light-gray: #e2e2e2;
$emperor: #515151;
$jumbo: #7d7e82;
$grey: #dddddd;
$black: #000000;
$gainsboro: $light-gray;
$caribbean-green: #00bf8f;
$forly: #ED5051;
$danger_button_hover: #DC3C3D;
$danger_button_pressed : #CB2F30;
$danger_button_disabled: #ffc5c5;
$alto: #d6d6d6;
$blue-ribbon: rgb(102, 105, 241);
$mercury: #e4e4e4;
$dark-grey: #666666;
$philippine-gray: #919191;
$platinum: #e1e9e9;
$hue-grey: #494949;
$gold-tips: #e7bb1f;
$aliceblue: aliceblue;
$white-smoke: #f1f1f1;
$white-smoke1:#F7F7F7;
$gray: #888888;
$white_15: rgba(255, 255, 255, 0.15);
$catskill_white: #f4f7fa;
$iron: #cfcfcf;
$cod-gray: #1b1b1b;
$mine-shaft: #2b2b2b;
$desert-storm: #f8f8f8;
$star-dust: #a2a2a2;
$lima: #30cd17;
$turbo: #ffe400;
$mine_sheft: #313030;
$dove_gray: #676767;
$white-smoke_gray: #EFEFEF;
$mercury-solid: #E5E5E5;
$christi: #42B917;
$gallery: #ECECEC;
$divider: #E8E8E8;
$youtubeBgColor : #F60000;
$vimeoBgColor : #00A8E8;
$article_active : #2b2b2b;
$article_link_menu :#008ecd;
$article_active_border : #cfcfcf;
$article_bg : #f6f6f6;
$active_menu: #504F4F;
$shea-shell: #f0f0f0;
$alabaster: #f9f9f9;
// border color
$border_iron: rgba(223, 226,229, .52);
$back_7070: #707070;
$dangerBgColor : #ED5051;
$notification-border: #DBDBDB;
// Font Family
$notosans: 'Noto Sans JP', sans-serif;
$notosanMedium: $notosans;
$notosansBold: $notosans;
$semiBold: 600;
$bold: bold;
$scrollbar-bg: #d9d9d9;
$boston-blue: #1d92bb;
$razmattaz: #e70052;
$input_label_color : #999999;
$input_placeholder_color : #AAAAAA;
$input_border_color: #DFE2E5;
$auth_bg_color : #FAFAFA;
$forgotTitle : #333333;
$table_border_color: #DFDFDF;
// Images
$auth-container-bottom-bg: '/assets/img/login/loginbg-bottom.png';
$auth-container-top-bg: '/assets/img/login/loginbg-top.png';
$calendar-sharp: '/assets/img/calendar-sharp.svg';
$info-circle: '/assets/img/login/info-circle.svg';


// Font weight variables
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;